[submodule "ghrd-socfpga"]
	path = ghrd-socfpga
	url = https://github.com/altera-opensource/ghrd-socfpga.git
[submodule "u-boot-socfpga"]
	path = u-boot-socfpga
	url = https://github.com/altera-opensource/u-boot-socfpga.git
[submodule "intel-socfpga-hwlib"]
	path = intel-socfpga-hwlib
	url = git@github.com:altera-opensource/intel-socfpga-hwlib.git
